.form {
  width: 400px;
  height: 500px;
  margin: 20px auto;
  background-color: bisque;
  border: 2px solid indianred;
  border-radius: 1.5em;
}

input {
  letter-spacing: 2px;
  width: 70%;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 800;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: none;
  margin: 30px 0 30px 20px;
}

button {
  cursor: pointer;
  border-radius: 4em;
  border: 0;
  padding: 10px 40px;
  color: rgb(241, 235, 235);
  font-size: 20px;
  background-color: rgb(213, 210, 62);
}
